.top-container {
	width: 100vw;
	min-height: 40vh;
	background-color: #f5f8fa;
	border-bottom: 1px solid rgba(0,0,0,.125);
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-center {
	position: relative;
	width: auto;
}

.image-container {
	margin: auto;
	position: relative;
	display: block;
	max-width: 200px;
	border-bottom: 1px solid rgba(0,0,0,.125);
	padding: 10px;
	border-radius: 500px;
	background-color: white;
}

.profile-picture {
	max-width: 200px;
	border-radius: 500px;
}

.text-container {
	text-align: center;
	margin: 10px 0;
}

.name {
	margin-bottom: 10px;
}

.description {
	color: gray;
	margin-bottom: 0;
	font-size: 18px;
}

.bottom-container {
	width: 100vw;
	min-height: 50vh;
	border-bottom: 1px solid rgba(0,0,0,.125);
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-center {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.about-me {
	width: 45%;
	max-width: 900px;
	margin-right: 50px;
}

.about-paragraph {
	margin-top: 15px;
}

.logo {
	max-width: 35px;
}

.contact {
	display: flex;
	flex-direction: column;
}

.socialIcons {
	height: auto;
	display: flex;
	align-items: center;
}

.socialIcons img {
	margin: 5px 10px 5px 0;
}

.socialIcons:hover, .socialIcons:hover img  {
	cursor: pointer;
	filter: invert(27%) sepia(90%) saturate(1396%) hue-rotate(195deg) brightness(95%) contrast(86%);
	-webkit-filter: invert(27%) sepia(90%) saturate(1396%) hue-rotate(195deg) brightness(95%) contrast(86%);
}

.social-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.title {
	font-weight: 700;
	margin-bottom: 10px;
}