.container {
	max-width: 500px;
	margin: 20px;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 25px;
	padding: 10px;
}

.container:hover {
	border: 1px solid rgba(0,0,0,.25);
}

.tech {
	display: flex;
}

.tech-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
}

.tech-bubbles {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 5px;
	border-radius: 50px;
	border: 1px solid rgba(0,0,0,.125);
}

.role {
	margin-left: auto;
	font-size: 12px;
	color: gray;
}

.JS {
	background-color: #f1e05a;
}

.HTML {
	background-color: #e34c26;
}

.CSS {
	background-color: #563d7c;
}

.PHP {
	background-color: #4F5D95;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-row {
	width: 100%;
	display: flex;
	justify-content: center;
}

.project-image {
	display: block;
	position: relative;
	text-align: center;
	max-height: 350px;
}

.project-title {
	display: block;
	font-weight: 700;
}

.project-image img {
	border-radius: 25px;
	border: 1px solid rgba(0,0,0,.125);
	max-height: 350px;
}

.project-link {
	text-decoration: none;
	color: black;
	margin: 20px;
}

@media(max-width: 800px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.project-container {
		margin: 20px;
	}
	.project-row {
		flex-direction: column;
	}
}

@media(max-width: 365px) {
	.tech {
		flex-wrap: wrap;
	}
	.role {
		margin-left: 0;
	}
}