@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

.header {
	background: white;
   margin-bottom: 1.45rem;
   border-bottom: 1px solid rgba(0,0,0,.125);
   height: 50px;
}

.header-name {
	margin: 0;
   font-size: 18px;
   padding: 15px 0;
}

.header-link {
	margin: 0;
	font-size: 14px;
	padding-top: 15px;
}


.link {
	margin: 0;
  	width: auto;
  	display: inline-block;
  	padding: 0 15px;
  	height: 100%;
}

.link-text {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.link:hover {
	background-color: #e6f3ff;
}

.link:hover .link-text {
	color: #004f99 !important;
}

.light {
	font-weight: 400;
}

.right {
	float: right;
}